# Applicatioin logs
logs/*.log

# File for local testing powershell functionality of the app
scripts/Test.ps1

# The C# in this app is all compiled at powershell runtime- keep the source code and ignore vscode project/compilation metadata
SunshineAutomationSuite.sln
modules/DisplayManager/lib/DisplayInterop/DisplayInterop.csproj
# For the same reason, ignore the main application runner and associated dotnet runtime files which are only used to locally test application C# functionality
modules/DisplayManager/lib/DisplayInterop/Program.cs
modules/DisplayManager/lib/DisplayInterop/bin/
modules/DisplayManager/lib/DisplayInterop/obj/